[submodule "Catch"]
	path = Catch
	url = git://github.com/philsquared/Catch.git
[submodule "matio"]
	path = matio
	url = git://github.com/tbeu/matio.git
[submodule "fmt"]
	path = fmt
	url = git://github.com/fmtlib/fmt.git
[submodule "eigen"]
	path = eigen
	url = git://github.com/eigenteam/eigen-git-mirror.git
